<meta charset="UTF-8">
<style>
    style {
        display: none !important;
    }
    ._customer_goods__wrap {
        max-width: 887px;
        box-sizing: border-box;
        font: 16px/1.4 Arial, sans-serif;
        color: #000000 !important;
        padding: 20px 0 !important;
    }
    ._customer_goods__ttl {
        text-transform: uppercase;
        color: #333333 !important;
        font-weight: bold;
        margin-bottom: 20px;
        display: block !important;
    }
    ._customer_goods__item {
        display: flex !important;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    ._customer_goods__item-title {
        font-weight: bold;
    }
    ._customer_goods__item-txt {
        display: block !important;
    }
    ._customer_goods__item img {
        width: 58px!important;
        height: 58px!important;
    }
    ._customer_goods__item-block {
        display: grid !important;
        align-content: center;
        margin-left: 20px;
    }
    ._customer_goods__text {
        margin: 0 10px;
        background: #F2F2F2;
        padding-top: 18px;
        padding-bottom: 17px;
        padding-left: 35px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        -webkit-transform: skewX(-15deg);
        -moz-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        -o-transform: skewX(-15deg);
        transform: skewX(-15deg);
    }
    ._customer_goods__text > * {
        -webkit-transform: skewX(15deg);
        -moz-transform: skewX(15deg);
        -ms-transform: skewX(15deg);
        -o-transform: skewX(15deg);
        transform: skewX(15deg);
    }

</style>

<div class="_customer_goods__wrap">
    <div class="_customer_goods__ttl">Пожарная безопасность на выгодных условиях</div>
    <div class="_customer_goods__item">
        <img src="img/block_goods/001-price-tag.png">
        <div class="_customer_goods__item-block">
            <div class="_customer_goods__item-title">Вы экономите до 15%</div>
            <span class="_customer_goods__item-txt">За счет того, что мы используем собственный ассортимент оборудования и материалов.</span>
        </div>
    </div>
    <div class="_customer_goods__item">
        <img src="img/block_goods/002-like.png">
        <div class="_customer_goods__item-block">
            <div class="_customer_goods__item-title">Вы быстро получаете результат</div>
            <span class="_customer_goods__item-txt">За счет того, что мы обладаем собственными ресурсами и решениями.</span>
        </div>
    </div>
    <div class="_customer_goods__text">
        <div>Квалифицированные специалисты разработают индивидуальный проект под ваши условия.<br>
        Свяжитесь с менеджером компании, чтобы сделать заказ или получить профессиональную консультацию.</div>
    </div>
</div>
