<meta charset="UTF-8">

<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
._customer-cat-bot__wrap {
    max-width: 627px;
    font: 14px/1.4 Arial, sans-serif;
    color: #555555 !important;
}
._customer-cat-bot__ttl {
    font-size: 18px;
    color: #333333 !important;
    margin-bottom: 10px;
    display: block !important;
    font-weight: bold;
}
._customer-cat-bot__desc {
    color: #000000 !important;
    margin-bottom: 20px;
    display: block !important;
}
._customer-cat-bot__list {
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 -13px;
}
._customer-cat-bot__item {
    width: 189px !important;
    height: 143px !important;
    text-align: center;
    display: block !important;
}
._customer-cat-bot__img {
    margin-bottom: 10px;
    display: block !important;

}
</style>

<div class="_customer-cat-bot__wrap">
    <div class="_customer-cat-bot__ttl">Нам доверяют компании разных отраслей и масштаба</div>
    <div class="_customer-cat-bot__desc">От небольших кафе до строений международного уровня</div>
    <div class="_customer-cat-bot__list">
        <div class="_customer-cat-bot__item">
            <div class="_customer-cat-bot__img">
                <img src="img/block_category_bottom/11.png" alt="">
            </div>
            <div class="_customer-cat-bot__txt">
                Кафе «J. Ramen»
            </div>
        </div>
        <div class="_customer-cat-bot__item">
            <div class="_customer-cat-bot__img">
                <img src="img/block_category_bottom/22.png" alt="">
            </div>
            <div class="_customer-cat-bot__txt">
                Универмаг «Гостиный двор»
            </div>
        </div>
        <div class="_customer-cat-bot__item">
            <div class="_customer-cat-bot__img">
                <img src="img/block_category_bottom/33.png" alt="">
            </div>
            <div class="_customer-cat-bot__txt">
                Кафе «Omo»
            </div>
        </div>
        <div class="_customer-cat-bot__item">
            <div class="_customer-cat-bot__img">
                <img src="img/block_category_bottom/44.png" alt="">
            </div>
            <div class="_customer-cat-bot__txt">
                Сеть ресторанов и суши-баров «Евразия»
            </div>
        </div>
        <div class="_customer-cat-bot__item">
            <div class="_customer-cat-bot__img">
                <img src="img/block_category_bottom/55.png" alt="">
            </div>
            <div class="_customer-cat-bot__txt">
                ТРК «Лето»
            </div>
        </div>
        <div class="_customer-cat-bot__item">
            <div class="_customer-cat-bot__img">
                <img src="img/block_category_bottom/66.png" alt="">
            </div>
            <div class="_customer-cat-bot__txt">
                Концертно-спортивный комплекс «СИБУР АРЕНА»
            </div>
        </div>
        <div class="_customer-cat-bot__item">
            <div class="_customer-cat-bot__img">
                <img src="img/block_category_bottom/77.png" alt="">
            </div>
            <div class="_customer-cat-bot__txt">
                Торговый центр «Miller»
            </div>
        </div>
        <div class="_customer-cat-bot__item">
            <div class="_customer-cat-bot__img">
                <img src="img/block_category_bottom/88.png" alt="">
            </div>
            <div class="_customer-cat-bot__txt">
                «МЕГА» (Дыбенко)
            </div>
        </div>
        <div class="_customer-cat-bot__item">
            <div class="_customer-cat-bot__img">
                <img src="img/block_category_bottom/99.png" alt="">
            </div>
            <div class="_customer-cat-bot__txt">
                ТРК «ПИК»
            </div>
        </div>
    </div>
</div>