<meta charset="UTF-8">

<style>
style {
    display: none !important;
}
._customer-cat__wrap {
    max-width: 627px;
    box-sizing: border-box;
    font: 14px/1.4 Arial, sans-serif;
    color: #000000 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
._customer-cat__ttl {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 16px;
    display: block !important;
}
._customer-cat__cont {
    padding-left: 14px;
}
._customer-cat__item {
    background: #F2F2F2;
    height: 80px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    -webkit-transform: skewX(-14deg);
    -moz-transform: skewX(-14deg);
    -ms-transform: skewX(-14deg);
    -o-transform: skewX(-14deg);
    transform: skewX(-14deg);
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}
._customer-cat__item > * {
    -webkit-transform: skewX(14deg);
    -moz-transform: skewX(14deg);
    -ms-transform: skewX(14deg);
    -o-transform: skewX(14deg);
    transform: skewX(14deg);
}
._customer-cat__text {
    text-align: center;
    width: calc(100% - 220px);
    display: block !important;
}
._customer-cat__item_decor:before {
    content: url(img/block_category/polygon.png);
    position: absolute;
    top: -23px;
    left: 27%;
    z-index: 100;
    display: block;
    width: 41px;
    height: 37px;
    -webkit-transform: skewX(14deg);
    -moz-transform: skewX(14deg);
    -ms-transform: skewX(14deg);
    -o-transform: skewX(14deg);
    transform: skewX(14deg);
}
._customer-cat__item:nth-child(1) {
    display: none;
}
._customer-cat__text_bottom {
    font-size: 13px;
}
._customer-cat__img {
    width: 220px;
    margin-right: -10px;
    display: block!important;
    padding-top: 4px;
}
._customer-cat__callback {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
._customer-cat__btn {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff !important;
    background: #962020 !important;
    border-radius: 3px;
    line-height: 36px;
    height: 36px !important;
    text-align: center;
    cursor: pointer;
    display: block !important;
}
._customer-cat__btn:hover {
	opacity: 0.85;
}
._customer-cat__btn-left {
    width: 200px;
}
._customer-cat__btn-right {
    width: 200px;
}
a._customer-cat__callback_phone {
    font-size: 18px;
    color: #000000 !important;
    text-decoration: none;
    white-space: nowrap;
}
a._customer-cat__callback_phone:hover {
    text-decoration: underline;
}

    @media (max-width: 1150px) {
        ._customer-cat__callback {
            display: block !important;
            text-align: center;
        }
        ._customer-cat__btn {
            margin: 20px auto;
        }
    }

</style>

<div class="_customer-cat__wrap">
    <div class="_customer-cat__ttl">Пожарная безопасность — полный комплекс услуг под ключ</div>
    <div class="_customer-cat__cont">
        <div class="_customer-cat__item">
            <div class="_customer-cat__text">
                Разработка проекта
            </div>
            <div class="_customer-cat__img">
                <img src="img/block_category/img-1.png" alt="">
            </div>
        </div>
        <div class="_customer-cat__item _customer-cat__item_decor">
            <div class="_customer-cat__text">
                Формирование сметы работ и материалов
            </div>
            <div class="_customer-cat__img">
                <img src="img/block_category/img-2.png" alt="">
            </div>
        </div>
        <div class="_customer-cat__item _customer-cat__item_decor">
            <div class="_customer-cat__text">
                Монтаж
            </div>
            <div class="_customer-cat__img">
                <img src="img/block_category/img-3.png" alt="">
            </div>
        </div>
        <div class="_customer-cat__item _customer-cat__item_decor">
            <div class="_customer-cat__text">
                Пуско-наладка
            </div>
            <div class="_customer-cat__img">
                <img src="img/block_category/img-4.png" alt="">
            </div>
        </div>
        <div class="_customer-cat__item _customer-cat__item_decor">
            <div class="_customer-cat__text">
                Создание рабочей документации
            </div>
            <div class="_customer-cat__img">
                <img src="img/block_category/img-5.png" alt="">
            </div>
        </div>
        <div class="_customer-cat__item _customer-cat__item_decor">
            <div class="_customer-cat__text">
                Регулярное техническое обслуживание
            </div>
            <div class="_customer-cat__img">
                <img src="img/block_category/img-6.png" alt="">
            </div>
        </div>
        <div class="_customer-cat__item _customer-cat__item_decor">
            <div class="_customer-cat__text _customer-cat__text_bottom">
                <span>Аудит и постоянная поддержка всех систем в актуальном
                состоянии для соответствия изменяющимся нормам
                    и требованиям пожарной безопасности</span>
            </div>
            <div class="_customer-cat__img">
                <img src="img/block_category/img-7.png" alt="">
            </div>
        </div>
        <div class="_customer-cat__callback">
            <div class="js-apress-order-button js-get-order-form _customer-cat__btn _customer-cat__btn-left"
                 data-company-id="99630051" data-company-name="Пожсервис" data-company-name-rest="ООО"
                 data-company-url="http://www.pozhservicespb.ru/" data-ga-id="CK-1193-1"
                 data-params="{&quot;company_id&quot;:99630051}" data-statistics="1" data-type="message"
                 onclick="yaCounter47491360.reachGoal('megasite_comblock_order'); return true;">Получить консультацию
            </div>
            <a onclick="yaCounter47491360.reachGoal('megasite_comblock_tel'); return true;" href="tel:+78129205934"
               class="_customer-cat__callback_phone">+7 (812) 920-59-34
            </a>
            <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-cat__btn _customer-cat__btn-right"
                 data-company-id="99630051" data-company-name="Пожсервис" data-company-name-rest="ООО"
                 data-company-url="http://www.pozhservicespb.ru/" data-ga-id="CK-1193-1" data-params="{&quot;company_id&quot;:99630051}"
                 data-statistics="1" data-type="callback" onclick="yaCounter47491360.reachGoal('megasite_comblock_callback');
                 return true;">Заказать звонок
            </div>
        </div>
    </div>
</div>
