<meta charset="UTF-8">
<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
/* Toolbar */
._customer-toolbar {
    width: 100%;
    background: linear-gradient(180deg, #641515 0%, #A51C1C 100%);
    font: normal 16px/1 'Roboto', Arial, sans-serif;
    color: #fff;
    white-space: nowrap;
}
._customer-toolbar__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1227px;
    margin: 0 auto;
    padding: 0 20px 0 30px;
    box-sizing: border-box;
}
._customer-toolbar__logo {
    width: 42px;
}
._customer-toolbar__logo a {
    color: #ffffff !important;
    text-decoration: none;
}
._customer-toolbar ul {
    display: flex;
    padding: 0;
    list-style: none !important;
    margin: 0 !important;
}
._customer-toolbar__list a {
    display: flex;
    align-items: center;
    height: 55px;
    color: inherit !important;
    text-decoration: none;
    padding: 0 13px;
}
._customer-toolbar {
    margin: 0;
}
._customer-toolbar__list a:hover {
    background: #1E004F;
}
._customer-toolbar__contact {
    box-sizing: border-box;
    position: relative;
}
a._customer-toolbar__contact {
    padding: 0 20px 0 35px;
}
._customer-toolbar__contact:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 9px);
}
._customer-toolbar__contact_phone:before {
    background: url('img/toolbar/phone.png') no-repeat 0 -1px;
    right: 158px;
}
._customer-toolbar__contact_mail:before {
    background: url('img/toolbar/mail.png') no-repeat 0 3px;
    right: 195px;
}
._customer-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    min-width: 170px;
    height: 36px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin: 0 !important;
}
._customer-search .sf-input-wrapper {
    width: 100%;
    height: 100%;
}
._customer-search input {
    width: 100%;
    height: 100% !important;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 40px 0 10px !important;
    background-color: #fff;
    font: normal 12px/1 'Roboto', Arial, sans-serif !important;
    color: #828282;
}
._customer-search button {
    width: 36px !important;
    height: 36px !important;
    background: #E0E0E0;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    outline:none !important;
    opacity: 1 !important;
}
._customer-search button:before {
    width: 36px !important;
    height: 36px !important;
    content: url('img/toolbar/search.png') !important;
    position: absolute;
    top: 0;
    right: -2px;
    padding-top: 10px;
}
._customer-search button:hover {
    opacity: .85 !important;
}
._customer-search button:active {
    opacity: .7 !important;
}
@media (max-width: 1110px) {

}
/* end Toolbar */
</style>
<!-- Toolbar -->
<div class="_customer-toolbar">
    <div class="_customer-toolbar__cont">
        <div class="_customer-toolbar__logo">
            <a href="http://www.pozhservicespb.ru/" title="На главную"><img src="img/toolbar/logo.png" alt="Логотип"></a>
        </div>
        <ul class="_customer-toolbar__list">
            <li class="_customer-toolbar__item"><a href="/about">О компании</a></li>
            <li class="_customer-toolbar__item"><a href="/catalog">Ассортимент</a></li>
            <li class="_customer-toolbar__item"><a href="/contacts">Контакты</a></li>
        </ul>
        <form accept-charset="UTF-8" accept-encoding="UTF-8" action="http://www.pozhservicespb.ru/catalog"
              class="_customer-search search-form with-search-icon" method="get" onsubmit="formSubmitter.disableButtons(this, null, null);">
            <div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>
            <div class="sf-input-wrapper">
                <input class="sf-input js-reset-field" id="q2" maxlenght="255" name="q"
                       placeholder="Найти товар или услугу..." type="text" />
            </div>
            <button class="custom-button" name="commit" type="submit" value="Поиск"></button>
        </form>
        <ul class="_customer-toolbar__list">
            <li>
                <a class="_customer-toolbar__contact _customer-toolbar__contact_phone" href="tel:+78129205934"
                   onclick="yaCounter47491360.reachGoal('megasite_toolbar_email'); return true;">+7 (812) 920-59-34</a>
            </li>
            <li>
                <a class="_customer-toolbar__contact _customer-toolbar__contact_mail" href="mailto:pozhservis1@yandex.ru"
                   onclick="yaCounter47491360.reachGoal('megasite_toolbar_tel'); return true;">pozhservis1@yandex.ru</a>
            </li>
        </ul>
    </div>
</div>
<!-- end Toolbar -->